@font-face {
    font-family: "Helvetica";
    src: url("/border-bux-ui/static/fonts/Helvetica.ttf") format("truetype");
}

.faq_section {
    padding: 20px;
    margin: 0 151px;
}

.faq_head {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Helvetica";
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.1599999964237213px;
    text-align: center;
    color:rgba(0, 34, 204, 1);
}

.faq_item {
    margin-bottom: 10px;
}
.banner_img {
    width: 100%;
    object-fit: contain;
}