@font-face {
    font-family: "Helvetica";
    src: url("/border-bux-ui/static/fonts/Helvetica.ttf") format("truetype");
}

.input_item {
    width: 428px;
    height: 60px;
    border-radius: 11px;
    border: 1px solid rgba(183, 183, 183, 1);
    margin: 6px 0;
    font-size: 18px;
    padding: 0 15px;
}

.input_item_head {
    display: flex;
    flex-direction: column;
}

.input_label {
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}